<div class="stars" id="stars-1" data-0="transform: translateY(0px)" data-1500="transform: translateY(-230px)"></div>
<div class="stars" id="stars-2" data-0="transform: translateY(0px)" data-1500="transform: translateY(-160px)"></div>
<div class="stars" id="stars-3" data-0="transform: translateY(0px)" data-1500="transform: translateY(-100px)"></div>

<div class="cover" data-0="opacity: 1" data-700="opacity: 0">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>	
	<div id="clouds-container">
		
		<svg id="large-cloud-group" width="300px" height="200px" viewBox="0 0 733 509" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"  data-0="transform: translateX(-20px) translateY(0px)" data-1200="transform: translateX(-100px) translateY(-200px)">
		    <!-- Generator: Sketch 3.0.4 (8054) - http://www.bohemiancoding.com/sketch -->
		    <title>large-cloud-group</title>
		    <desc>Created with Sketch.</desc>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g  sketch:type="MSLayerGroup" transform="translate(1.000000, 1.000000)">
		            <path d="M434.359892,0.196307692 C436.189538,0.559443692 438.033152,1.13208123 439.890732,1.25778215 C500.911547,5.74111508 551.666786,31.2304689 591.262577,77.586176 C627.352709,119.863586 644.420101,169.38975 642.325086,225.117159 C642.143518,229.684293 643.889364,231.304438 647.45089,233.078218 C694.407168,256.360822 722.103271,293.777797 729.617393,345.790046 C738.486292,406.866727 701.753689,471.127833 644.657536,495.192576 C622.03137,504.745846 598.637031,507.399532 574.209152,507.050363 C521.358897,506.282191 468.480709,506.840862 415.602521,506.798961 C324.148116,506.729127 232.679744,507.134164 141.225339,506.324091 C81.6012012,505.779387 25.5246228,462.831572 8.13599508,405.693519 C4.085632,392.439055 2.49342031,378.430385 -0.272,364.742951 L-0.272,354.756711 C0.133036308,352.941031 0.747574154,351.153285 0.929142154,349.323638 C4.49066831,304.993113 23.9324111,268.958848 59.5476726,242.673388 C69.4780455,235.326868 71.4333932,229.125622 69.4780455,217.477337 C59.2543705,155.897851 111.90909,99.374336 174.228815,103.704034 C194.578398,105.128645 212.59553,112.167897 229.509287,124.067584 C231.213233,120.84126 232.749578,117.908239 234.38369,115.017118 C264.873147,60.5746511 309.81821,24.2750178 370.238454,8.18529969 C385.057196,4.24667077 400.588244,2.79412677 415.770122,0.196307692 L434.359892,0.196307692 Z" id="large-cloud" stroke="#979797" fill="#225465" sketch:type="MSShapeGroup"></path>
<!--		            <g id="code-icon" transform="translate(259.000000, 229.000000)" fill="#1A3F49" sketch:type="MSShapeGroup">
		                <path d="M92.0803571,121.589821 C102.20125,81.2744643 111.845536,40.8469643 121.43375,0.391428571 C127.685714,0.279285714 133.937679,0.25125 140.217679,0.223214286 C130.236964,40.67875 120.424464,81.1623214 110.780179,121.673929 C104.528214,121.673929 98.3042857,121.617857 92.0803571,121.589821 L92.0803571,121.589821 Z" id="Shape"></path>
		                <path d="M-0.4375,64.4530357 C15.2625,49.6501786 31.0466071,34.8753571 46.5783929,19.8482143 C51.8210714,24.2498214 57.1198214,28.5673214 62.3625,32.9689286 C51.0921429,43.23 40.2703571,53.9676786 29.2242857,64.4530357 C40.3825,75.0225 51.3725,85.81625 62.8671429,96.0773214 C57.5403571,100.450893 52.1575,104.768393 46.8026786,109.141964 C31.2989286,94.0026786 15.4867857,79.14375 -0.4375,64.4530357 L-0.4375,64.4530357 Z" id="Shape"></path>
		                <path d="M150.955357,33.1091071 C156.310179,28.5953571 161.777143,24.1657143 167.328214,19.8482143 C182.691786,35.0155357 198.251607,49.9585714 214.26,64.4530357 C198.36375,79.0316071 183.028214,94.1708929 167.5525,109.17 C162.113571,104.824464 156.730714,100.478929 151.347857,96.0773214 C162.730357,85.8442857 173.692321,75.1626786 184.710357,64.5651786 C173.664286,53.8555357 162.506071,43.2580357 150.955357,33.1091071 L150.955357,33.1091071 Z" id="Shape"></path>
		            </g>-->
		        </g>
		    </g>
		</svg>	
	
		<div id="clouds-pair" data-0="transform: translateX(0px) translateY(0px)" data-1200="transform: translateX(200px) translateY(-200px)">
			<svg width="250px" height="184px" viewBox="0 0 305 184" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
			    <!-- Generator: Sketch 3.0.4 (8054) - http://www.bohemiancoding.com/sketch -->
			    <title>small-clouds</title>
			    <desc>Created with Sketch.</desc>
			    <defs></defs>
			    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
			        <g id="small-clouds" sketch:type="MSLayerGroup" fill="#36778C">
			            <ellipse id="Oval-2" sketch:type="MSShapeGroup" cx="144.166838" cy="97.0671256" rx="3.64778579" ry="3.64199656"></ellipse>
			            <g id="Path-2" sketch:type="MSShapeGroup">
			                <path d="M230.295438,88.4696839 C226.182776,84.0353246 221.082619,80.320284 215.013035,77.3155432 C213.830779,76.7276676 213.251241,76.1907104 213.311513,74.6770465 C214.006958,56.2075693 208.3414,39.7933422 196.361201,25.7815358 C183.217292,10.4180785 166.368979,1.97025998 146.112985,0.484369713 C145.496357,0.442709238 144.884366,0.252922631 144.27701,0.132570148 L138.106096,0.132570148 C133.066438,0.993553295 127.910873,1.47496323 122.991759,2.78032477 C102.935126,8.11286555 88.0155136,20.1434849 77.8944713,38.1870994 C77.3520243,39.1452904 76.8420313,40.1173681 76.2764027,41.1866536 C70.6618438,37.2427954 64.6810172,34.9098088 57.9259285,34.4376567 C37.2387592,33.0026848 19.7599093,51.7360117 23.1536807,72.1450154 C23.8027627,76.0055527 23.1536807,78.0608028 19.8572716,80.4956261 C8.03470739,89.2072943 1.5809782,101.149964 0.398721775,115.842225 C0.338449878,116.448616 0.134452691,117.04112 0,117.642883 L0,120.952576 C0.917987341,125.488939 1.44652551,130.131767 2.79105242,134.524633 C8.56324555,153.461633 27.1779889,167.695629 46.9703523,167.876158 C77.3288428,168.144636 107.69197,168.010397 138.05046,168.033542 C147.86967,168.04131 157.688879,167.986791 167.506466,167.981809 C166.890237,166.727392 166.371351,165.423441 165.961701,164.079488 C165.16553,161.478223 164.852552,158.72894 164.30896,156.042702 L164.30896,154.082844 C164.388577,153.726506 164.509375,153.375651 164.545066,153.016572 C165.245147,144.316449 169.066767,137.244515 176.06758,132.085841 C178.019571,130.644044 178.403929,129.427013 178.019571,127.14097 C176.009926,115.055638 186.360147,103.96257 198.610196,104.812298 C202.610268,105.091886 206.151856,106.47338 209.476555,108.808763 C209.811496,108.175578 210.113492,107.599956 210.434706,107.032557 C215.214055,98.5120181 221.80042,92.2558168 230.295438,88.4696839 L230.295438,88.4696839 Z M127.298296,57.0966093 C127.548272,57.2628744 128.056557,57.578778 128.306533,57.7367298 C129.573078,60.8625129 129.306437,64.7032358 126.956662,67.2470912 C124.881861,69.5997418 121.573845,70.1484165 119.265733,72.1768503 C117.215929,74.0473322 117.157602,77.03179 116.999284,79.5922719 C115.224454,79.5839587 113.449624,79.5839587 111.674794,79.6005852 C111.458148,76.3501033 112.033093,72.9167298 114.107894,70.3063683 C117.290922,66.2578141 123.46533,66.1248021 126.248397,61.6688985 C127.289963,60.3637177 127.264966,58.6761274 127.298296,57.0966093 Z M133.147735,67.8872117 C133.772675,70.0486575 135.164208,72.2599828 134.397615,74.5627539 C132.639451,76.175525 129.964707,76.9819105 129.398095,79.5839587 C127.698258,79.5922719 125.998421,79.6005852 124.290251,79.625525 C123.798632,76.0508262 126.723351,73.6399828 129.806389,72.7005852 C132.097836,72.1851635 132.556125,69.7992599 133.147735,67.8872117 Z M101.375782,83.6325129 C102.25903,82.0363683 104.183846,82.5351635 105.692034,82.4021515 C116.815968,82.5434768 127.939901,82.3190189 139.063835,82.5019105 C141.730246,82.6515491 141.071975,85.8937177 141.280289,87.7143201 C144.413322,87.2654045 147.937984,87.5148021 150.412746,89.7011876 C155.370604,93.3423924 154.870652,102.004802 149.512833,105.047453 C146.354802,107.167332 142.013552,107.001067 138.922182,104.839621 C137.255675,108.489139 134.655924,112.263356 130.497989,113.21938 C126.131741,113.502031 121.748828,113.21938 117.374248,113.352392 C114.732834,113.285886 111.833112,113.734802 109.475005,112.238417 C105.133755,109.877453 103.433918,104.864561 102.334023,100.367091 C101.417444,94.8637177 100.625853,89.2107057 101.375782,83.6325129 Z"></path>
			            </g>
			            <g id="Path-4" transform="translate(172.556128, 92.158348)" sketch:type="MSShapeGroup">
			                <path d="M78.6391692,0.149358034 C78.97008,0.214930751 79.3035168,0.318333882 79.6394796,0.34103213 C90.6757332,1.15060298 99.85535,5.75330331 107.016664,14.1239128 C113.543942,21.7580903 116.630759,30.7012001 116.251853,40.7640901 C116.219015,41.5887932 116.534769,41.8813484 117.178909,42.2016459 C125.671443,46.4058658 130.680574,53.1623777 132.039581,62.5544084 C133.643615,73.583235 127.000139,85.1870839 116.673701,89.5325374 C112.581522,91.2576043 108.350411,91.7367895 103.932373,91.6737388 C94.3738507,91.5350273 84.8102764,91.6359084 75.2467021,91.6283423 C58.7062149,91.6157322 42.1632017,91.688871 25.6227144,91.5425934 C14.8390645,91.4442343 4.69702781,83.6889995 1.55211233,73.3713847 C0.819561737,70.9779805 0.531593572,68.4483869 0.0314383391,65.9767998 L0.0314383391,64.1735501 C0.104693398,63.8456865 0.215839006,63.522867 0.248677481,63.1924814 C0.892816796,55.1875659 4.40905965,48.6807347 10.8504528,43.9342788 C12.6464648,42.6076923 13.0001099,41.4879121 12.6464648,39.3845411 C10.797406,28.2649215 20.3205638,18.0582759 31.5917388,18.8401044 C35.272174,19.0973512 38.5307611,20.3684531 41.5897914,22.5172206 C41.8979678,21.9346322 42.1758318,21.4050065 42.4713781,20.8829467 C47.9857159,11.0520833 56.1145014,4.49733358 67.0421355,1.59195781 C69.7222602,0.880746031 72.5312128,0.618455163 75.2770145,0.149358034 L78.6391692,0.149358034 Z M64.1766735,42.5686059 C72.7986457,40.3473046 82.2026262,43.4464854 88.4984552,49.5982926 L88.4984552,49.8776179 C87.7297013,50.629136 86.9410659,51.3540516 86.1524305,52.0789673 C77.7822915,43.1538589 62.2415345,43.0940034 53.8780227,52.0457143 C53.0429969,51.2609432 52.2079712,50.4828227 51.3663182,49.7047022 C54.9383728,46.279642 59.3123172,43.619401 64.1766735,42.5686059 Z M56.7012049,55.0584372 C60.0876982,51.7929914 64.614068,49.7645577 69.3061174,49.5051842 C74.4819516,49.3322685 79.5650051,51.5336179 83.3027394,55.078389 C82.4875953,55.8631601 81.6790783,56.6612324 80.8838157,57.4659552 C75.2109423,51.4937143 64.8460196,51.4205577 59.1731462,57.419401 C58.3513749,56.6279793 57.5362307,55.8299071 56.7012049,55.0584372 Z M61.9234295,60.3390155 C64.1435376,58.3970396 66.9402111,56.9937625 69.9357003,56.9937625 C72.984207,56.9671601 75.867034,58.390389 78.1202781,60.3722685 C77.2985067,61.1304372 76.4899897,61.8952565 75.6947271,62.6866781 C72.5998301,59.7604131 67.4372503,59.660654 64.3821164,62.6933287 C63.5802266,61.8952565 62.7584552,61.1104854 61.9234295,60.3390155 Z M67.251689,65.6461962 C68.8554686,64.3426781 71.2213749,64.2628709 72.7853913,65.6727986 C71.8642122,66.603883 70.9297786,67.5349673 70.0218538,68.4860034 C69.1205561,67.5216661 68.1927497,66.5772806 67.251689,65.6461962 Z"></path>
			            </g>
			        </g>
			    </g>
			</svg>
	</div>
		
	</div>
	
	
	<div class="intro" id="main-intro" data-0="transform: translateY(0px);" data-700="transform: translateY(-200px);">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="180" height="180" viewBox="0 0 120 120" version="1.1" id="hc-logo-large">
		  <path class="logo-long-path" d="M71.11 116C97.91 110.29 118 86.71 118 58.51 118 30.28 97.89 6.69 71.06 1L71 4.07C95.81 9.68 114.32 31.63 114.32 57.86 114.32 84 95.93 105.9 71.25 111.59L71.11 116 71.11 116Z" id="Shape" sketch:type="MSShapeGroup"/>
		  <g id="Group" sketch:type="MSShapeGroup">
		    <path class="logo-long-path" d="M58.17 118C26.04 118 0 91.58 0 59 0 26.41 26.04 0 58.17 0L62 0 62 3 58.17 3C28.03 3 3.6 27.78 3.6 58.35 3.6 88.92 28.03 113.7 58.17 113.7L62 113.56 62 117.83 58.17 118 58.17 118Z" id="Shape"/>
		    <g transform="translate(8.000000, 8.000000)" id="Shape">
		      <path class="logo-short-path" d="M45 56L55.41 56 57 43.06 46.33 43 45 56Z"/>
		      <path class="logo-long-path" d="M51 0C22.83 0 0 22.83 0 51 0 79.17 22.83 102 51 102 79.17 102 102 79.17 102 51 102 22.83 79.17 0 51 0L51 0ZM84 43.8L70.53 43.8 69.12 56.89 81.01 56.89 81.01 68.31 67.59 68.35 66.21 85 52.83 85 54.77 68.4 43.32 68.4 41.64 85 28.26 85 30.11 68.31 18 68.31 18 57.46 31.52 57.46 32.62 43.75 20.88 43.78 20.86 32.81 33.81 32.81 35.66 17 48.6 17 47.19 32.81 58.55 32.81 60.22 17 73.17 17 71.85 32.81 84 32.81 84 43.8 84 43.8Z"/>
		    </g>
		  </g>
		</svg>
		<div class="intro-text">
			<p class="first">Creating delightful experiences is our passion.</p> 
			<p>Technology and Design are our tools.
			<p>The Web is our medium.</p>
			
			<div class="main-title">
				<h1><span>We're</span> Hash Cookies</h1>
			</div>
			<div id="scroll-tip">
				
				<a href="#"><span class="scroll-icon glyphicon glyphicon-chevron-down" data-icon="m"></span></a>
				<span class="scroll-text">Scroll to see our work</span>
			</div>
		</div>
		
	</div>
	
	<div id="back-mountains" class="mountains" data-0="transform: translateY(0px);" data-700="transform: translateY(-50px);">
		<svg width="100%" height="435px" viewBox="0 0 1937 435" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.0.4 (8054) - http://www.bohemiancoding.com/sketch -->
		    <title>back-mountains</title>
		    <desc>Created with Sketch.</desc>
		    <defs>
		        <linearGradient x1="50%" y1="3.19596306%" x2="50%" y2="98.8620571%" id="linearGradient-1">
		            <stop stop-color="#193C46" offset="0%"></stop>
		            <stop stop-color="#1A404B" offset="100%"></stop>
		        </linearGradient>
		    </defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="back-mountains" sketch:type="MSLayerGroup" transform="translate(0.000000, 1.000000)" fill="url(#linearGradient-1)">
		            <path d="M3.13671875,169.429688 C3.13671875,169.429688 94.7695312,131.40625 99.7421875,131.40625 C104.714844,131.40625 204.011719,137.316406 216.210938,137.316406 C228.410156,137.316406 412.8125,106.214844 423.238281,106.214844 C433.664063,106.214844 608.039062,181.292969 615.238281,181.292969 C622.4375,181.292969 719.050781,208.511719 736.390625,212.738281 C753.730469,216.964844 791.351563,278.902344 796.324219,278.902344 C801.296875,278.902344 857.511719,162.78125 862.484375,162.78125 C867.457031,162.78125 955.726562,118.988281 955.726562,118.988281 L1018.85938,131.40625 L1079.84766,99.4375 C1079.84766,99.4375 1159.80469,67.5 1166.26172,67.5 C1172.71875,67.5 1320.01172,-0.34765625 1333.63672,-0.34765625 C1347.26172,-0.34765625 1457.70313,19.7070312 1457.70313,19.7070312 L1535.94531,53.875 C1535.94531,53.875 1629.78906,68.2421875 1641.1875,68.2421875 C1652.58594,68.2421875 1759.3125,88.5546875 1759.3125,88.5546875 C1759.3125,88.5546875 1826.64062,78.15625 1837.8125,83.3554688 C1848.98438,88.5546875 1933.17187,81.8710938 1933.17187,81.8710938 L1936.53906,433.984375 L0.48046875,432.101562 L3.13671875,169.429688 Z" id="Path-13" sketch:type="MSShapeGroup"></path>
		        </g>
		    </g>
		</svg>
	</div>
	
	<div id="mid-mountain-2" data-0="transform: translateY(0px);" data-700="transform: translateY(-100px)" class="mountains">
		<svg width="933px" height="269px" viewBox="0 0 933 269" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.0.4 (8054) - http://www.bohemiancoding.com/sketch -->
		    <title>mid-mountain-2</title>
		    <desc>Created with Sketch.</desc>
		    <defs>
		        <linearGradient x1="50%" y1="0%" x2="50%" y2="98.2656173%" id="linearGradient-1">
		            <stop stop-color="#173943" offset="0%"></stop>
		            <stop stop-color="#1B3E47" offset="100%"></stop>
		        </linearGradient>
		    </defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="mid-mountain-2" sketch:type="MSLayerGroup" fill="url(#linearGradient-1)">
		            <path d="M932.648438,26.3125 C932.648438,26.3125 884.65625,80.1601562 871.65625,80.1601562 C858.65625,80.1601562 795.839844,50.8476562 781.359375,50.8476562 C774.62623,50.8476562 747.25,30.4257813 709.226562,26.3125 C671.203125,22.1992188 634.641227,13.7421875 628.664062,13.7421875 C617.492188,13.7421875 606.265625,0.40234375 601.296875,0.40234375 C596.328125,0.40234375 517.601562,56.3046875 496.945312,56.3046875 C487.547236,56.3046875 437.554688,71.3205109 416.734596,71.3205113 C395.914504,71.3205117 323.205519,91.0117188 305.515625,91.0117188 C289.333931,91.0117188 264.671875,107.296875 232.040031,117.663317 C199.408188,128.02976 173.351375,147.092709 155.085938,152.207031 C118.660156,162.40625 68.8984375,242.847656 63.9257813,242.847656 C58.953125,242.847656 0.4765625,268.128906 0.4765625,268.128906 L932.648438,268.128906 L932.648438,26.3125 Z" id="Path-15" sketch:type="MSShapeGroup"></path>
		        </g>
		    </g>
		</svg>
	</div>
	
	<div id="mid-mountain-1" class="mountains" data-0="transform: translateY(0px);" data-700="transform: translateY(-150px);">
		<svg width="100%" height="256px" viewBox="0 0 1936 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.0.4 (8054) - http://www.bohemiancoding.com/sketch -->
		    <title>mid-mountain-1</title>
		    <desc>Created with Sketch.</desc>
		    <defs>
		        <linearGradient x1="50%" y1="0.516183036%" x2="50%" y2="100%" id="linearGradient-1">
		            <stop stop-color="#13323D" offset="0%"></stop>
		            <stop stop-color="#1A404B" offset="100%"></stop>
		        </linearGradient>
		        <linearGradient x1="50%" y1="0.336814413%" x2="50%" y2="106.926838%" id="linearGradient-2">
		            <stop stop-color="#112D36" offset="0%"></stop>
		            <stop stop-color="#19404C" offset="100%"></stop>
		        </linearGradient>
		    </defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="mid-mountain-1" sketch:type="MSLayerGroup" transform="translate(0.000000, 1.000000)">
		            <path d="M4.27734375,67.5117188 C4.27734375,67.5117188 47.2773438,54.4023437 54.0195312,54.4023438 C60.7617187,54.4023438 129.324219,67.5117188 137.75,67.5117188 C146.175781,67.5117188 183.316406,76.9101562 195.226562,81.625 C207.136719,86.3398438 277.953125,93.765625 287.382812,93.765625 C296.8125,93.765625 375.542969,105.652344 383.96875,105.652344 C392.394531,105.652344 545.398438,153.675781 557.539062,158.386719 C569.679688,163.097656 637.53125,175.238281 646.699219,175.238281 C655.867188,175.238281 741.542969,184.152344 750.710938,184.152344 C759.878906,184.152344 849.007812,205.207031 855.949219,205.207031 C862.890625,205.207031 932.511719,239.660156 932.511719,239.660156 L969.21875,254.542969 L0.17578125,251.828125 L4.27734375,67.5117188 Z" id="Path-10" fill="url(#linearGradient-1)" sketch:type="MSShapeGroup"></path>
		            <path d="M1043.08203,254.542969 L1091.42188,163.8125 C1091.42188,163.8125 1191.97266,89.0234375 1199.40234,89.0234375 C1206.83203,89.0234375 1223.71484,77.3671875 1223.71484,77.3671875 L1226.19922,94.3671875 L1235.59766,68.0585937 L1251.05469,55.1132812 C1251.05469,55.1132812 1301.24609,4.35546875 1311.73047,0.125 C1322.21484,-4.10546875 1371.46484,39.5742187 1377.66406,39.5742187 C1383.86328,39.5742187 1496.76172,117.419687 1502.98828,122.304688 C1509.21484,127.189688 1745.15234,182.753907 1768.46094,182.753906 C1791.76953,182.753905 1934.94922,199.578125 1934.94922,199.578125 L1935.63281,253.371094 L1043.08203,254.542969 Z" id="Path-12" fill="url(#linearGradient-2)" sketch:type="MSShapeGroup"></path>
		        </g>
		    </g>
		</svg>
	</div>	
	
</div>

<%= erb :work %>

<%= erb :services %>

