<div id="navigation">
	<div id="nav-title">
		<a href="#" id="menu-btn">
			<span class="menubar"></span>
			<span class="menubar"></span>
			<span class="menubar"></span>
		</a>
	</div>
	<a href="#" id="contact-btn" data-toggle="modal" data-target="#contact-modal">
		<svg width="26px" height="21px" viewBox="0 0 26 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.0.4 (8054) - http://www.bohemiancoding.com/sketch -->
		    <title>contact-icon</title>
		    <desc>Created with Sketch.</desc>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"  transform="translate(0.5,0.5)">
		        <g id="contact-icon" sketch:type="MSLayerGroup" stroke="#45A7C2" stroke-width="1">
		            <path d="M1.72628196,-0.000732420899 C0.772882759,-0.000732421438 0,0.770745327 0,1.74147422 L0,14.2521781 C0,15.2143723 0.783794355,15.9943848 1.73191643,15.9943848 L14.9703703,15.9943848 L14.9703702,21.0070496 L21.0690918,15.9943848 L24.2775024,15.9943848 C25.2305907,15.9943848 26.0032215,15.222907 26.0032215,14.2521781 L26.0032215,1.74147423 C26.0032215,0.779280076 25.2249967,-0.000732407613 24.2769396,-0.000732408149 L1.72628196,-0.000732420899 Z" id="Rectangle-1" sketch:type="MSShapeGroup"></path>
		            <circle id="Oval" sketch:type="MSShapeGroup" cx="19" cy="8" r="2"></circle>
		            <circle id="Oval-2" sketch:type="MSShapeGroup" cx="13" cy="8" r="2"></circle>
		            <circle id="Oval-3" sketch:type="MSShapeGroup" cx="7" cy="8" r="2"></circle>
		        </g>
		    </g>
		</svg>
	</a>
	<ul id="nav-items">
		<li><a href="/">Introduction</a></li>
		<li><a href="/portfolio">Portfolio</a></li>
		<li><a href="/services">Design Services</a></li>
		<li><a href="/team">Behind the Scenes</a></li>
		<li id="contact-item"><strong>Contact Info</strong>
			+91 9637 443 666<br />
			<a href="mailto:fresh@hashcooki.es">fresh@hashcooki.es</a><br />
			<a href="#">Location</a>
		</li>
		<li><a href="#">Request a quote</a></li>
	</ul>
</div>